* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #e5e7eb;
    align-items: center;
    margin-bottom: 0;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    padding-left: 64px;
    font-weight: bold;
}

.links {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    padding-right: 64px;
}

.title {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    padding: 64px 64px 128px 64px;
}

.intro-photo {
    width: 600px;
    height: 300px;
}

.intro .header {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.intro .des {
    font-size: 18px;
    color: #e5e7eb;
}

.intro .signup {
    background-color: #3882f6;
    color: #f9faf8;
    font-weight: bold;
    font-size: 20px;
    border-radius: 8px;
    padding: 8px 32px;
}

.dog-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dog-title p {
    font-size: 36px;
    font-weight: 700;
    color: #1f2937;
    margin-bottom: 36px;
}

.dog-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 128px;
    gap: 64px;
}

.dog-grid img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-color: black;
    border-radius: 25px;
}

.dog-grid p {
    width: 150px;
    font-size: 18px;
}

.quote {
    background-color: #e5e7eb;
}

.quote .box {
    padding: 50px 164px;
    display: flex;
    flex-direction: column;
}

.quote .type {
    color: #1f2937;
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    margin-bottom: 0;
}

.quote .credit {
    font-weight: 600;
    align-self: flex-end;
    font-size: 18px;
    margin-top: 8px;
    margin-right: 64px;
}

.call {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call .box {
    background-color: #3882f6;
    margin: 64px 64px;
    padding: 28px 128px;
    display: flex;
    border-radius: 16px;
    gap: 64px;
}

.call .action {
    font-size: 24px;
    color: #e5e7eb;
    font-weight: 600;
    margin-bottom: 0;
}

.call .des {
    font-size: 16px;
    font-weight: 300;
    color: #e5e7eb;
    margin-top: 4px;
}

.call .button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call .signup {
    background-color: #3882f6;
    border-color: #e5e7eb;
    color: #e5e7eb;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 12px;
    border-width: medium;
}

.copyright {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright p {
    color: #e5e7eb;
    font-weight: 300;
    padding: 16px;
}
