* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #e5e7eb;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    padding-left: 64px;
    font-weight: bold;
}

.links {
    display: flex;
    justify-content: space-around;
    gap: 24px;
    padding-right: 64px;
}

.title {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
}

.intro-photo img {
    height: 300px;
    width: 500px;
    object-fit: cover;
}